@import "tailwindcss";

@theme {
  /* Фоны */
  --color-bg-light: #f9fafb;
  --color-bg: #EFF1F4;

  /* Текст */
  --foreground: #171717;
  --color-text: #1f2937;

  /* 🎨 Основные цвета темы  */
--color-primary: #feca0c;
--color-primary-light: #BCD5F8;

--color-primary-black: #0C131D;
--color-primary-green: #3BBF56;

--color-btn-no-active: #0D69E6;
--color-btn-hover: #1C78DF;
--color-btn-primary-hover: #237DFA ;

--color-btn-grey: #1C78DF;
--color-btn-grey-hover: #EBECEE;


  --color-gray-text: #9EA9B7;
  --color-gray-light: #9ca3af;
  --color-gray-lightes: #EFF1F4;
   --color-gray-very-light: #F8F8F8;


}

@font-face {
  font-family: "Stapel";
  src: url("https://…/Stapel.woff2") format("woff2"),
       url("https://…/Stapel.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Stapel", sans-serif;
}

:root {
  --color-bg-light: #f9fafb;
  --color-bg: #EFF1F4;

  /* Текст */
  --foreground: #171717;
  --color-text: #1f2937;
--color-primary: #feca0c;
  /* 🎨 Основные цвета темы  */
--color-primary: #0C73FE;
--color-primary-light: #BCD5F8;

--color-primary-black: #0C131D;
--color-primary-green: #3BBF56;

--color-btn-no-active: #0D69E6;
--color-btn-hover: #1C78DF;
--color-btn-primary-hover: #237DFA ;

--color-btn-grey: #1C78DF;
--color-btn-grey-hover: #EBECEE;


  --color-gray-text: #9EA9B7;
  --color-gray-light: #9ca3af;
  --color-gray-lightes: #EFF1F4;
  
   --color-gray-very-light: #F8F8F8;
} 

.react-datepicker__day {
  padding: 5px 28px 5px 28px;
  border-radius: 10px;
}



